.push_auth
homework01/__pycache__/*
homework02/copy
homework02/*.swp
homework04/*.swp
homework04/MEShell
homework05/*.swp
homework05/__pycache__/*
.answers.txt.swp
homework06/*.swp
homework06/bakeshop
